@font-face {
  font-family: myFont;
  src: url(NB-International-Pro-Edition-OTF/NBInternationalProIta.otf);
}


html, body {
  margin: 0;
  padding-left: 10px;
  padding-right: 20px;
  font-family: myFont;


}


h1{
  position: fixed;
  font-size: 60px;
  top: 0%;
  left: 55%;
  padding: 10px 10px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure it's above other elements */

}

.dLink{
  position: fixed;
  font-size: 20px;
  top: calc(60px + 120px); /* 100px is the height of h1, adjust as needed */
  left: 56%;
 
}

#author{
    position: fixed;
    top: calc(60px + 370px); /* 100px is the height of h1, adjust as needed */
    left: 56%;

}

.image-container {
 position: fixed;
 top: 28%;
 left: 55%;

}

#device-image {
  position: relative; /* Ensure positioning context for absolute positioning */
  width: 600px; /* Adjust container width as needed */
  height: 200px; /* Adjust container height as needed */

}

.main-text{
  padding-top: 30px;
  padding-left: 50px;
}

.box1{
  width: 600px; /* Width of your box */
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.5;


}

/* #m-text{
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.5;
}

#quote{
  word-wrap: break-word;
  text-align: justify;
  line-height: 1.5;
} */

.bbold{
  font-weight: bolder;
}